.destaques {
    background-color: var(--azul-claro);

    padding-top: 1rem;
    padding-bottom: 1rem;
}

.destaques__titulo {
    color: var(--cinza-escuro);
    font-weight: 700;
    font-size: 1.5rem;
    font-family: var(--montserrat);
    text-transform: uppercase;
    text-align: center;

    margin-bottom: 1rem;
}

.destaques__painel {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 2rem;
}

.destaques__painel-imagem {
    width: 100vw;
    max-width: 600px;

    box-shadow: 0 2px 10px 5px #00000020;

    margin-bottom: .5rem;
}

.destaques__painel-texto {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: normal;
    text-align: center;
}

.destaques__botao {
    color: #22a85a;

    border-color: #22a85a;

    margin: 0 auto;
}

.destaques__botao:hover{
    color: white;
    background-color: #22a85a;
    /* background-image: url(/img/background-test.jpg); */
    transform: scale(1.06);
    transition: 0.5s;
}

strong {
    color: #22a85a;
    font-weight: bold;
}

strong:hover {
    color: #11562e;
    transform: scale(0.5);
    transition: 0.5s;
}